*.a
*.obj
*.o
*.lib
*.exe
*.out
*.bin
*.elf
*.dll
*.rc
*.filters
*.user
*.vcxproj
*.map
*.wasm
!gh-pages/wasm_app_emsdk.wasm
*.wast
build
subrepos
buildjs
buildwasm
buildjswasm
.vscode
.vs
.ninja_log
.ninja_deps